<%- include('./partials/_header') %>
<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= longURL %></h5>
    <p class="card-text">
      Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a>
      Visited: <% if (!numVisits) { %>0 <% } else { %> <%= numVisits  %> <% } %>  times
      Unique Visitors: <% if (!uniqueVisits) { %>0 <% } else { %> <%= uniqueVisits %><% } %>  times   
    </p>
  </div>
  <% if (username && postID === userID) { %>
  <div class="card-footer text-muted">
    <h2>Edit</h2>
    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT">
      <label for="">New URL:</label>
      <input
        name="updatedURL"
        style="width: 20%"
        value="<%= longURL %>"
        type="input"
        placeholder="URL"
      />
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  <% } %>
</div>
<%- include('./partials/_footer') %>
